@import "../../style/variables.scss";

.page-not-found {
	position: relative;
	width: 1200px;
	margin: 50px auto 50px auto;
	padding: 150px 150px 200px 150px;
	background: linear-gradient(241.22deg,
			#fff3df 3.04%,
			rgba(247, 228, 221, 0.9) 97.58%);
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);

	h1 {
		text-align: center;
		margin-top: 20px;
	}

	button {
		display: block;
		margin: 30px auto 30px auto;
		padding: 5px 20px;
		background: #ffffff;
		border: 1px solid $cancel;
		cursor: pointer;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.7);
		transition: 0.3s all;

		&:hover {
			color: #fff;
			background-color: $cancel;
		}
	}
}